In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("data/measurements.csv",encoding = "ISO-8859-1")
data.columns = data.columns.str.rstrip() #Eliminamos si hubiera espacio al final de cada titulo de columna
data.columns = data.columns.str.replace(' ', '_')

In [5]:
data.dtypes

distance         object
consume          object
speed             int64
temp_inside      object
temp_outside      int64
specials         object
gas_type         object
AC                int64
rain              int64
sun               int64
refill_liters    object
refill_gas       object
dtype: object

In [6]:
def columnas_lower(df):
    """
    Return the columns in capital letters
    """
    columnas = list(df.columns)
    columnas_minus = [str(columna).lower() for columna in columnas]
    df.columns = columnas_minus
    return df.columns

In [7]:
columnas_lower(data)

Index(['distance', 'consume', 'speed', 'temp_inside', 'temp_outside',
       'specials', 'gas_type', 'ac', 'rain', 'sun', 'refill_liters',
       'refill_gas'],
      dtype='object')

In [8]:
data.columns

Index(['distance', 'consume', 'speed', 'temp_inside', 'temp_outside',
       'specials', 'gas_type', 'ac', 'rain', 'sun', 'refill_liters',
       'refill_gas'],
      dtype='object')

In [9]:
data.specials.unique()

array([nan, 'AC rain', 'AC', 'rain', 'snow', 'AC snow',
       'half rain half sun', 'sun', 'AC sun', 'sun ac', 'ac', 'AC Sun',
       'ac rain'], dtype=object)

In [10]:
data.refill_gas.unique()

array(['E10', nan, 'SP98'], dtype=object)

In [11]:
data.refill_gas.value_counts()

SP98    8
E10     5
Name: refill_gas, dtype: int64

In [12]:
data.temp_inside.unique()

array(['21,5', '22,5', '20', nan, '21', '20,5', '23', '23,5', '25', '24',
       '22', '19', '24,5', '25,5'], dtype=object)

In [13]:
data.sun.value_counts()

0    356
1     32
Name: sun, dtype: int64

In [14]:
data = data.drop(['refill_gas', 'refill_liters', 'specials', 'temp_inside'], axis=1)

In [15]:
data

    distance consume  speed  temp_outside gas_type  ac  rain  sun
0         28       5     26            12      E10   0     0    0
1         12     4,2     30            13      E10   0     0    0
2       11,2     5,5     38            15      E10   0     0    0
3       12,9     3,9     36            14      E10   0     0    0
4       18,5     4,5     46            15      E10   0     0    0
..       ...     ...    ...           ...      ...  ..   ...  ...
383       16     3,7     39            18     SP98   0     0    0
384     16,1     4,3     38            31     SP98   1     0    0
385       16     3,8     45            19     SP98   0     0    0
386     15,4     4,6     42            31     SP98   1     0    0
387     14,7       5     25            30     SP98   1     0    0

[388 rows x 8 columns]

In [20]:
data.distance = data.distance.str.replace(',','.')
data.consume = data.consume.str.replace(',','.')

In [23]:
data.distance = data.distance.astype(float)
data.consume = data.consume.astype(float)
data.speed = data.speed.astype(int)

In [24]:
data.dtypes

distance        float64
consume         float64
speed             int32
temp_outside      int64
gas_type         object
ac                int64
rain              int64
sun               int64
dtype: object

In [25]:
data.to_csv('data/measurements_clean.csv', index=False)